.skillsSection {
    display: flex;
    flex-direction: column;
    margin-top: 20PX;
}

.sectionHeader {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.sectionHeader p {
    color: var(--color-complementary);
    font-size: 25px;
    font-weight: bold;
    margin-left: 5px;
}

.skillSectionTitle {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 30px;
}

.skillSectionTitle p {
    color: var(--color-text-primary);
    font-size: 15px;
    font-weight: bold;
    margin-left: 5px;
}

.skillsContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
}

.skillCard {
    width: 130px;
    height: 130px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--color-secondary);
    border-radius: 10px;
}

.icSkill {
    width: 60px;
    height: 60px;
    transition: width 0.3s ease, height 0.3s ease;
}

.icSkill:hover {
    width: 70px;
    height: 70px;
}

.skillCard p {
    color: var(--color-text-primary);
    margin-top: 5px;
    font-size: 17px;
    text-align: center;
}