
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$Portfolio-primary: mat.define-palette(mat.$indigo-palette);
$Portfolio-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$Portfolio-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$Portfolio-theme: mat.define-light-theme((
  color: (
    primary: $Portfolio-primary,
    accent: $Portfolio-accent,
    warn: $Portfolio-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($Portfolio-theme);

@import url("./colors.scss");

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    background: rgba($color: #ABB2BF, $alpha: 0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba($color: #ABB2BF, $alpha: 0.6);
}

body {
    background-color: var(--color-primary);
}

* {
    margin: 0px;
    padding: 0px;
}

p {
    font-family: "Roboto";
}

a {
    text-decoration: none;
}

.snackbar {
    --mdc-snackbar-container-color: var(--color-secondary);
    --mdc-snackbar-supporting-text-color: var(--color-text-primary);
    --mdc-snackbar-supporting-text-font: "Roboto";
    --mdc-snackbar-supporting-text-size: 15px
}